<!-- post footer -->
<div class="card-content-footer">
    <span class="soumaicon text-info">
        <svg>
            <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/svg/master.svg#calendar" />
        </svg>
    </span>
    {% set año = article.date|strftime('%Y') %}
    {% set mes = article.date|strftime('%m') %}
    {% set nombre_mes = article.date|strftime('%B') %}
    <time class="entry-date published"
          datetime="{{ article.date.isoformat() }}">
        <small>
            {{ article.date|strftime('%a %-d') }}
            <a class="text-info" href="{{ SITEURL }}/archives/{{ año }}/{{ mes }}/"
               title="{% trans %}Artículos de {{ nombre_mes }} de {{ año }}{% endtrans %}">
                {{ nombre_mes }}
            </a>
            <a class="text-secondary" href="{{ SITEURL }}/archives/{{ año }}/"
               title="{% trans %}Artículos de {{ año }}{% endtrans %}">{{ año }}
            </a>
        </small>
    </time>

    {% if not HIDE_AUTHORS and article.authors %}
        <span class="soumaicon text-info">
            <svg>
                <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/svg/master.svg#user" />
            </svg>
        </span>
        {% for author in article.authors %}
            <small>
                <a class="text-white" href="{{ SITEURL }}/{{ author.url }}"
                   title="{% trans %}Autor del artículo{% endtrans %}">{{ author }}</a>{% if not loop.last %}, {% endif %}
            </small>
        {% endfor %}
    {% endif %}

    {% import 'translations.html' as translations with context %}
    {% if translations.translations_for(article) %}
        <span class="soumaicon text-info">
            <svg>
                <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/svg/master.svg#translate" />
            </svg>
        </span>
        <small>
            {{ translations.translations_for(article) }}
        </small>
    {% else %}
    {% endif %}

</div>
<!-- end of post footer -->
<!-- /.post-info -->
