{% extends "base.html" %}

{% block head %}
    {% block title %}
        <title>{{ category.name }} - {{SITENAME}}</title>
    {% endblock %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <!-- title category -->
        <h3 class="text-center">{{ category }}</h3>
        <!-- /title category -->
    </div>
    {{ super() }}
{% endblock %}
