{% extends "base.html" %}

{% block head %}
    {% block title %}
        {% set len_period = period|length %}
        {%- if len_period == 1 -%}
            <title>{{ _('Archivos de %(año)d', año=period[0]) }} - {{SITENAME}}</title>
        {%- elif len_period == 2 -%}
            <title>{{ _('Archivos de %(mes)s de %(año)d', año=period[0], mes=period[1]) }} - {{SITENAME}}</title>
        {%- elif len_period == 3 -%}
            <title>{{ _('Archivos del %(dia)d de %(mes)s de %(año)d', año=period[0], mes=period[1], dia=period[2]) }} - {{SITENAME}}</title>
        {%- endif -%}
    {% endblock %}
    {{ super() }}
{% endblock %}

{% block menu_header %}{% endblock menu_header %}

{% block content %}
    <!-- title -->
    <div class="row mt-10">
        <div class="col-md-12 mx-auto text-justify">
            <hr>
            <h4 class="tab">
                {% set len_period = period|length %}
                {%- if len_period == 1 -%}
                    {{ _('Archivos de %(año)d', año=period[0]) }}
                {%- elif len_period == 2 -%}
                    {{ _('Archivos de %(mes)s de %(año)d', año=period[0], mes=period[1]) }}
                {%- elif len_period == 3 -%}
                    {{ _('Archivos del %(dia)d de %(mes)s de %(año)d', año=period[0], mes=period[1], dia=period[2]) }}
                {%- endif -%}
            </h4>
            <hr>
        </div>
    </div>
    <!-- title -->

    <!-- Main -->
    <div class="row">
        <div class="col-md-9 mx-auto text-justify">
            <!-- dinamic page content  -->
            <div>
                <dl>
                    {% for article in dates %}
                        <dt>{{ article.date|strftime('%A %-d de %B de %Y a las %H:%M %z') }}</dt>
                        <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                    {% endfor %}
                </dl>
            </div>
            <!-- End dinamic page content  -->
        </div>
    </div>
    <!-- End Main -->
{% endblock %}
