{% extends "base.html" %}

{% block head %}
    {% block title %}
        <title>{{ _('Lista de etiquetas de %(sitename)s', sitename=SITENAME) }}</title>
    {% endblock %}
    {{ super() }}
    <meta name="description" content="{{ _('Lista de etiquetas de %(sitename)s', sitename=SITENAME) }}"/>
    <meta name="keywords" content="{{ _('etiquetas,palabras clave') }}">
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">{{ _('Lista de etiquetas') }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- empty space -->
            </div>
            <div class="col-md-4">
                <ul>
                    {%- for tag, articles in tags|sort %}
                        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <!-- empty space -->
            </div>
        </div>
    </div>
{% endblock %}
